*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
nohup.out

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Log file
*.log
*.gz
log.log*

# Vim temp file
*.swp
*~

# Tags
tags
/home/quwm/workspace/api_tianchi/scripts/install.sh
/home/quwm/workspace/api_tianchi/scripts/start.sh

.DS_Store

# pids
*.pid
